.idea/workspace.xml
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/rules.ninja
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-741c9da81a68c473a2ab.json
build/.cmake/api/v1/reply/codemodel-v2-14545b068d4ba0c82061.json
build/.cmake/api/v1/reply/index-2021-10-09T12-17-00-0290.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/.ninja_deps
build/.ninja_log
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/.cmake/api/v1/reply/cache-v2-b75e52420158d0f0c5ae.json
build/.cmake/api/v1/reply/codemodel-v2-5f0de84c1cbdc13979ba.json
build/.cmake/api/v1/reply/index-2021-10-10T16-55-19-0847.json
build/.cmake/api/v1/reply/target-task1-Debug-ef7a5ad025ac3b01bffc.json
build/CMakeFiles/task1.dir/main.cpp.o
build/CMakeFiles/task1.dir/src/container.cpp.o
build/CMakeFiles/task1.dir/src/functional.cpp.o
build/CMakeFiles/task1.dir/src/language.cpp.o
build/CMakeFiles/task1.dir/src/object_oriented.cpp.o
build/CMakeFiles/task1.dir/src/procedural.cpp.o
build/Testing/Temporary/LastTest.log
.vscode/settings.json
